h1{
  color: rgb(253, 253, 255);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border: 3px solid lightblue;
  border-radius: 20px;
}
h3{
 color: crimson;
 font-size: 50px;
 margin-left: 500px;
}
body {
  
  background-color: rgb(236, 238, 228);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
  color: white;
  border: 2px solid blueviolet;
  border-radius: 50px;
 
  
}
p {
 color: black;
font-size: larger;
margin-left: 200px;
margin-right: 200px;
  }
ul {
  font-size: large;
  text-align: left;
  color: white;
  margin-left: 200px;
}
#pic {
  width: 800px;
  height: 350px;
  margin-left: 10px;
  border: 2px solid lightblue ;
  border-radius: 20px;
  
}
h4{
 margin-left: 200px;
 font-size: large;
 color: black;
}
#author{
  color: black;
  text-align: center;
}
#icons{
  width: 50px;
  height: 50px;
  
}
#icon{
  text-align: center;
}