h1{
  color: rgb(253, 253, 255);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
 color: crimson;
 font-size: 50px;
}
body {
  
  background-image: url(/image/earth2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 200px;
 
  
}
p {
 color: blanchedalmond;
font-size: larger;
  }
ul {
  color: green;
}
#pic {
  width: 600px;
  height: 350px;
  
}